body, html {
    height: 100%;
    margin: 0;
   
  }
  
  * {
    box-sizing: border-box;
  }

/*--------------------Navbar Menu Items----------------------------------------*/
  .navbar
  {
    background-color:#2a67a3;
    min-height: 70px !important;
  }

.navbar-brand{
    float:left;
    padding: 0px !important;
    padding-left: 10px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a
 {
  color:white;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
  
  color: white;
 
}



/*-------------------------Carousel Slide show---------------------------------------------*/
.carousel-inner .item {
 
    height: 400px;  /* add this */
  }
  
 .carousel-inner>.item> img{
 
  display: block;
  max-width: 100%;
  margin:auto;
  object-fit: cover !important;
  }

  #myCarousel{
    margin-top: 60px;
  }

  div.carousel-caption
  {
  color:white;
  font-family:'Roboto', sans-serif;;
  font-weight: bold;
  }

.carousel-inner{
    width:100%;
    max-height: 400px !important;
  }

  
  
/*------------------------Vision-----------------------------------------------------*/
.about_heading
{
  
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 3px #2a67a3;

 
}
.vision_heading{

  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 3px #2a67a3;
  
 
}

 .vision_content 
 {

  text-align: center;
  background-color:white;
  font-size: 1.3em;
 
  
}

.vision_thumb
{
  
  height: 300px;
  
}
.vision_image{
  border-radius: 25px;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
 
}

 section p
 {
  font-family: "Bookman Old Style";
  margin-top: 20px;
  margin-bottom: 20px;
}


/*------------------------About Us-----------------------------------------------*/

.about_us{
  
  border-radius: 15px;
  background:lightgrey;
  padding: 10px;
  height: 300px;
  overflow: hidden;
  font-size: 1.3em;
  margin-bottom: 20px;


}

.border-left {
  border-left: 10px solid gray;
  height: 300px;
  margin-bottom: 20px;

}

