/* START OF BRANCH 1
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
*/
body,
html {
  height: 100%;
  margin: 0;
  
scroll-behavior: smooth !important;

}

* {
  box-sizing: border-box;
}

/*--------------------Navbar Menu Items----------------------------------------*/
.navbar {
  background-color: #2384EB;
  min-height: 70px !important;
  
}

.navbar-brand {
  float: left;
  padding: 0px !important;
  padding-left: 10px !important;
  /* margin-top: 10px; */
  margin-top: 0px;
  margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {

  color: white;

}

.redly {
  /* border: 1px red solid; */
  padding: 0px !important;
}

/*-------------------------Carousel Slide show---------------------------------------------*/
.first1.carousel-inner>.item {

  height: 500px !important;
  /* add this */
  object-fit: cover !important;
 

}

.first1.carousel-inner>.item>img {
  object-fit: cover !important;
  height: 500px !important;
  line-height: 1;
  display: block;
  max-width: 100%;
}

#myCarousel {
  margin-top: 60px;
}

div.carousel-caption {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.first1.carousel-inner {
  width: 100%;
  max-height: 500px !important;
}



/*----------------------------News FEED--------------*/


.feeds_list>li>a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 300%;
  color: black;
  font-weight: bold;
}

#feeds {
  position:relative;
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  
}
.feeds_list {
  overflow: auto;
  height: 250px;
}

.feed_section {
 margin-top: 5px;
 padding: 10px;
}
#desc1,#desc2,#desc3{
margin-top: 0px;
}

/*------------------------About Us-----------------------------------------------*/



section p {
  font-family: "Bookman Old Style";
  margin-top: 10px;
  font-size: 16px;
  color:#2F4F4F;
}

.about_heading,
.feed_heading,
.vision_heading {
  color: black;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 50px !important;

}

.about_heading::after {
  content: ' ';
  display: block;
  border: 3px solid #2384EB;
  margin-top: 10px;
}

.feed_heading::after {
  content: ' ';
  display: block;
  border: 3px solid #2384EB;
  margin-top: 10px;

}

.vision_heading::after {
  content: ' ';
  display: block;
  border: 3px solid #2384EB;
  margin-top: 10px;

}

.about_us,
.Vision_content {
  padding: 10px;
  /* height: 400px; */
  min-height: 250px;
  overflow: hidden;
  font-size: 1.3em;
  margin-top: 5px;
  
}



/* Special CSS */
.special {
  padding-top: 25px !important;
}

.margit {
  margin-top: 50px !important;
}

/* New carousel */
.thematic,
.new-caption-area {
  max-width: 100%;
  margin-top: 10px;
  color: #fff;
}

div.thematic div.carousel-inner {
  /* border-bottom: 3px rgb(128, 127, 127) solid; */
}

.carousel-caption {
  padding: 10px;
  min-height: 250px;
  overflow: hidden;
  font-size: 1.3em;
  color: #2F4F4F;
}



.new-caption-area h3 {
  /* background-color: rgb(128, 127, 127); */
  font-weight: lighter !important;
  padding: 5px !important;
  color: #000;
  border-bottom: 3px solid #2384EB;
  min-width: 100px;
}

.carousel-inner>.item {
  height: 300px !important;
  overflow: hidden;
}

.carousel-inner>.item>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display-none {
  display: none !important;
}

/* End of New carousel */

/* Overriding Bootstrap Style */
.no-padding {
  padding: 0px !important;
}

.navbar-brand {
  /* background-color: #2a67a3; */
  height: 70px;
}

a.navbar-brand {
  padding: 0px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbar-nav>li>a {
  text-transform: lowercase !important;
  color: rgba(0, 0, 0, .54);
  font: 500 14px/44px Roboto,
    sans-serif;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar-nav>li>a::first-letter {
  text-transform: uppercase !important;
}

a.navbar-brand:hover {
  transition: 0.5s ease-in-out background-color;
  background-color: transparent !important;
}

a.navbar-brand img {
  /* margin-top: -15px; */
  margin-top: 2px !important;
}

.navbar {
  min-height: 70px !important;
}

nav .navbar-right {
  margin-top: -5px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100 !important;
}

/* End of overriding bootstrap */
.br1_heading1 {
  
  line-height: 35px; 
  font-size: 30px;
  letter-spacing: -0.5px;
  /*--line-height: 52px;--*/
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100px !important;


}


section p {
  font-family: "Bookman Old Style";
  color:#2F4F4F;
  text-align: justify;
}

.heading4 {
  /* font-size: 25px;
   */
  font-size: 22px;
  font-weight: 400;
  font-family: 'Bookman', sans-serif;
  color: #111111;
  margin: 0px 0px 5px 0px;
  line-height: 1.2;
}



.header {
  /* padding: 10px 10px; */
  padding: 5xp 5px;
  /* background-color: #2a67a3; */
  background-color: #2384EB;
  color: white;
  /* box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.5); */
  box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.3);
}

/* Vision
============================================================================================ */
.br1_vision_about.vision_thumb {
  overflow: hidden;
  display: inline-block;
}

.vision_about_content p {
  color: dimgrey;
}

/* THEMES SECTIONS
============================================================================================ */
.redly {
  /* border: 1px red solid; */
}

section.br1_theme_sec {
  min-height: 600px;
  margin-top: 10px;
  
}

div.sub-section-theme {
  border-top: 1px solid #dadce0;
  min-height: 10px;
}


h1.sec-title {
  font-weight: 500 !important;
  letter-spacing: -0.5px !important;
  line-height: 58px !important;
  font-size: 36px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

div#thematic-slider {
  padding: 0px !important;
  margin-top: 50px;
}

div#thematic-slider div.item {
  height: 500px;
  max-width: 100%;
  overflow: hidden !important;
}

div#thematic-slider div.item img {
  height: 500px !important;
  object-fit: cover;
}

div#thematic-slider.container-fluid,
div#thematic-slider.row-fluid {
  padding: 0px !important;
}

div#thematic-slider.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

div.carousel-caption {
  background-color: rgba(66, 66, 66, 0.5);
  height: 500px;
  width: 100%;
  right: 0 !important;
  left: 0 !important;


}

div#thematic-slider.carousel-item h5 {}

div#thematic-slider.carousel-caption p {
  color: #fff !important;
}

.carousel-caption {
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 20px;
  padding-bottom: 0 !important;
  color: #fff !important;
  font-size: 14px !important;
  text-align: center;
  text-shadow: none !important;
 
}

/* END OF THEMES SECTIONS
============================================================================================ */

/* AREA SECTION
============================================================================================ */
div#area-container {
  height: 450px;
  margin-top: 10px;
}

div#area-container h1 {
  text-transform: uppercase !important;
  font-weight: lighter !important;
}


.h-d {
  height: 150px !important;
  overflow: hidden;
  padding: 0px !important;
}


.h-d img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


section.br1_contact_section ul.footer__content li {
  list-style: none !important;
}

section.br1_contact_section ul.footer__content li a {
  list-style: none !important;
  text-decoration: none;
  /* color: #9799a4; */
  color: #000;
  line-height: 2;
  padding-top: .313rem;
}

section.br1_contact_section ul.footer__content li a:hover {
  color: #757575;
  transition: .2s color;
}

/* END OF AREA SECTION
============================================================================================ */

/* CONTACT SECTION
============================================================================================ */
section.br1_contact_section {
  height: 257px;
  background-color: #ffca28;
  overflow: hidden;
  border-top: 2px solid rgb(255, 145, 14);
}

h1.contact_title {
  /* color: #fff; */
  color: #000;
  font-weight: lighter;

}

.title--size-xxs {
  font-size: .875rem;
}

.title {
  display: block;
  font-weight: 500;
  line-height: 1.2;
}

.color--white {
  color: #fff;
}

div#copyright {
  padding-bottom: 5px;
  padding-top: 5px;
  color: #9799a4;
  background: #1d1e22;
}

div#copyright h5 {
  font-size: 14px !important;
  color: #9799a4;
}



/* END OF CONTACT SECTION
============================================================================================ */



@media (max-width: 991px) {
  .br1_vision_about.vision_about_content {
    text-align: center;
  }
}

.br1_vision_about.vision_about_content h2 {
  /* font-size: 36px; */
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 100px !important;
}

@media (max-width: 767px) {
  .br1_vision_about.vision_about_content h2 {
    /* font-size: 25px; */
    font-size: 40px;
    width: 100%;
    font-weight: 100px !important;
  }
}

@media (max-width: 1199px) {
  .vision_about_left {
    display: none;
  }

}

.br1_vision_about.vision_about_content p:last-of-type {
  margin-bottom: 0;
}

.br1_vision_about.vision_about_content .primary_btn {
  margin-top: 35px;
}

.br1_vision_about.vision_about_left {
  padding-right: 0;
  padding-left: 30px;
}

@media (max-width: 991px) {
  .br1_vision_about.vision_vision_about_left {
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.br1_vision_about.vision_about_right {
  padding: 110px 60px;
  background: #ffffff;
  margin-top: 70px;
  margin-left: -40px;
  z-index: 2;
  box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.2);
}

@media (max-width: 1199px) {
  .br1_vision_about.vision_about_right {
    padding: 50px 30px;
  }
}

@media (max-width: 991px) {
  .br1_vision_about.vision_about_right {
    margin-left: 0;
    margin-top: 20px;
  }
}

/* End Vision
  ============================================================================================ */


/* PROJECT
============================================================================================ */
.br1_project_sec {
  /*--padding-top: 100px;--*/
  margin-top: 10px;
}

.project_tab li a {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(128, 127, 127);
  /* font-weight: 500; */
  font-weight: 100 !important;
  color: white;
  border-radius: 0px;
  margin-right: 22.008px;
  border: 1px solid #ebebeb !important;
  text-transform: lowercase !important;
}

.project_tab li a::first-letter {
  text-transform: uppercase !important;
}

.project_tab .active a:before {
  content: "♦";
  position: absolute;
  top: 20px;
  left: 0 px;
  color: #2384EB;
  font-size: 30px;
}

.project_tab li a:hover {
  color: #2384EB !important;
  text-decoration: none;
}

.project_tab .active a:hover {
  color: #fff !important;
}

.project_tab .active a {
  background-color: #2384EB !important;
  color: #FFF !important;
}

.project_tab li a:last-child {

  padding: 11px 12px;
  margin: 0px 6px;
}

.project_margin {
  /*--margin-top:30px;--*/
  margin-top: 10px;
}

.project_tab {
  padding-top: 0px;
  padding-bottom: 10px;/*--changed--*/
  border: 0;
  margin: 0 10px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: 0px;
}

.left.carousel-control {
  right: 30px;
  left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}


@media (max-width: 768px) {
  .br1_project_sec {
    padding-top: 20px;
  }

  .project_tab li a {
    width: max-content;
  }

  .br1_heading1 {
    font-size: 25px;
  }

  .br1_header {
    padding: 0px 0px;
    line-height: 0px;
  }

  .heading4 {
    padding-top: 10px;
  }

  .project_tab li {
    width: 100%;
  }

  .project_tab li a {
    text-align: center;
    width: 100%;
  }

}




/* End PROJECT
============================================================================================ */
/* END OF BRANCH 1
============================================================================================ */